{%extends 'base.html'%} {%block content%} {%load staticfiles%}
<!--External CSS-->
{%if user.is_superuser %}
<style type='text/css'>
    html {
        font-family: 'Alata', sans-serif;
        line-height: 0;
    }
    
    #header {
        color: #ffffff;
        margin-top: 35px;
    }
    
    .container-fluid {
        padding: 3% 15% 0 15%;
    }
    
    h1 {
        size: 3rem;
        line-height: 1.5;
    }
    /* Navigation Bar */
    
    .navbar-brand {
        font-size: 1.5rem;
    }
    
    .nav-item {
        padding: 0 15px;
    }
    
    .nav-link {
        font-size: 1.2rem;
    }
    
    #description {
        margin-top: 40px;
    }
    
    .logo {
        height: 40px;
        width: auto;
        margin-right: 5px;
        background-color: #ffffff;
        border-radius: 50%;
    }
    
    #footer {
        text-align: center;
        padding: 7% 15%;
    }
    
    .social-icon {
        margin: 20px 10px;
    }
    
    a {
        text-decoration: none;
    }
    
    p {
        font-size: 20px;
    }
    
    .quote-img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 500px;
        height: auto;
    }
    
    @media (max-width: 1028px) {
        .quote-img {
            width: 370px;
        }
    }
    
    .desc-img {
        width: 100%;
        height: auto;
    }
    
    .heading {
        text-align: center;
        font-family: 'Merriweather', serif;
    }
    
    .about {
        padding: 10px;
    }
    
    .footer {
        text-align: center;
    }
</style>

<section id="header">
    <div class="container-fluid">
        <!-- Nav Bar -->
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="{%url 'homepage' %}"><img class="logo" src="{%static 'images/logo.png'%}">As Safwatul Mala</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fa fa-user" aria-hidden="true"></i>{{user.username}}</a>
                    </li>
                    {%if user.is_authenticated%}
                    <li class="nav-item">
                        <a class="nav-link" href="{%url 'logout'%}">Logout</a>
                    </li>
                    {%else%}
                    <li class="nav-item">
                        <a class="nav-link" href="{%url 'login'%}">Login</a>
                    </li>
                    {%endif%}
                </ul>
            </div>
        </nav>
    </div>
</section>
<section id="course_content">
    <div class="container-fluid">

        <h1><strong><em>Tajweed-1</em></strong></h1>
        <h4><strong><em>Introduction</em></strong></h4>
        <li><a>4 possible / allowed ways to begin your recitation from the
            beginning of a surah</a></li>
        <ul>
            {%for i in content%} {%if 4 >= i.id %}
            <li><a href="{{i.id}}" target="_blank">{{i.title}}</a> </li>
            {%endif%} {%endfor%}
            <li><a href="https://forms.gle/Rgag2XWybVsRR4rGA">Quiz</a> </li>
            <p>View Resources : <a href="{%static 'Res/Istiadah And Basmallah.pdf'%}">Istiadah And Basmallah</a><br><a href="{%static 'Res/Istiadah And Basmallah-Urdu.pdf'%}">Istiadah And Basmallah Urdu</a></p>
        </ul>
        </li>
        <li><a>Basmalah between Suratyn</a></li>
        <ul>
            {%for i in content%} {%if 7 >= i.id and i.id >= 5 %}
            <li>
                <a href="{{i.id}}" target="_blank">{{i.title}}</a>
            </li>
            {%endif%}{%endfor%}
            <li><a href="https://forms.gle/zeGEQbBC7x68BxyN9">Quiz</a> </li>
            <p>View Resources : <a href="{%static 'Res/4 Possible ways of reciting Basmallah between Suratain.pdf'%}">4 Possible ways of reciting Basmallah between Suratain</a></p>
        </ul>
        <li><a>How to start and connect ةبوتلا ةروس</a></li>
        <ul>
            {%for i in content%} {%if 10 >= i.id and i.id >= 8 %}
            <li>
                <a href="{{i.id}}" target="_blank">{{i.title}}</a>
            </li>
            {%endif%}{%endfor%}
            <li><a href="https://forms.gle/aAzoJS92fqheY4iS9">Quiz</a> </li>
            <p>View Resources : <a href="{%static 'Res/Reasons for not reading Basmallah before Surah At Tawbah.pdf'%}">Reasons for not reading Basmallah before Surah At Tawbah</a></p>
        </ul>
        <li><a>Lahn and Maratib Qiraat</a></li>
        <ul>
            {%for i in content%} {%if 14 >= i.id and i.id >= 11 %}
            <li>
                <a href="{{i.id}}" target="_blank">{{i.title}}</a>
            </li>
            {%endif%}{%endfor%}
            <li><a href="https://forms.gle/CxnF5pPLkZqYaWRe9">Quiz</a> </li>
            <p>View Resources : <a href="{%static 'Res/Lahn & Maratib Qirat.pdf'%}">Lahn & Maratib Qirat</a><br><a href="{%static 'Res/Lahn & Maratib Qirat-Urdu.pdf'%}">Lahn & Maratib Qirat-Urdu</a></p>
        </ul>
        <li><a>About tajweed</a></li>
        <ul>
            {%for i in content%} {%if 17 >= i.id and i.id >= 15 %}
            <li>
                <a href="{{i.id}}" target="_blank">{{i.title}}</a>
            </li>
            {%endif%}{%endfor%}
            <li><a href="https://forms.gle/cBQrbCFYvhrULoPw5">Quiz</a> </li>
            <p>View Resources : <a href="{%static 'Res/Importance of Tajweed.pdf'%}">Importance of Tajweed</a><br><a href="{%static 'Res/Importance of Tajweed-Urdu.pdf'%}">Importance of Tajweed-Urdu</a></p>
        </ul>
        </ul>

        <h4><strong><em>Makharij</em></strong></h4>

        <li><a href="#">Introduction to Makharij + levels of reading</a></li>
        <li><a href="#">Aljauf</a></li>
        <li><a href="#">Aqsal halq</a></li>
        <li><a href="#">Wastul halq</a></li>
        <li><a href="#">Adnal halq</a></li>
        <li><a href="#">Aqsal lisaan (qaff)</a></li>
        <li><a href="#">Aqsal lisaan (kaff)</a></li>
        <li><a href="#">Wastul Lisaan (Jeem ,sheen , yaa ghair maddiyah.)</a></li>
        <li><a href="#">Hafatal lisaan (laam)</a></li>
        <li><a href="#">Hafatal lisaan ( dhadh)</a></li>
        <li><a href="#">Makhraj An noon</a></li>
        <li><a href="#">Makhraj Ar raa</a></li>
        <li><a href="#">Taa, daal , twa</a></li>
        <li><a href="#">Huroof Al lathawiyyah
  </a></li>
        <li><a href="#">Huroof as safeer</a></li>
        <li><a href="#">Huroof Ash shafawiyyah
  </a></li>
        <li><a href="#">Al Khyshoom</a></li>
        </ul>


        <h4><strong><em>Madood</em></strong></h4>
        <ul>
            <li><a href="#">Introduction to madood </a> </li>
            <li><a href="#">Madd Al asli </a> </li>
            <li>Followers of madd Al asli </li>
            <ul>
                <li><a href="#">Madd silatus sughra </a> </li>
                <li><a href="#">Exceptional cases of mad silatus sughra</a> </li>
                <li><a href="#">Madd ul ewadh</a> </li>
            </ul>
            <li>Madd faroo'e bisabab hamza </li>
            <ul>
                <li><a href="#">Madd badal</a> </li>
                <li><a href="#">Madd jaez munfasil</a> </li>
                <li><a href="#">. Madd wajib mutasil+ madd silatul kubra</a> </li>
            </ul>
            <li>Madd faroo'e bisabab sukoon a'ridh </li>
            <ul>
                <li><a href="#">Madd Aaridh lis sukoon</a> </li>
                <li><a href="#">Madd leen</a> </li>
            </ul>
            <li> Madd faroo'e bisabab sakoon asli </li>
            <ul>
                <li><a href="#">Madd lazim kalami muthaqal+mukhafaf</a> </li>
                <li><a href="#">Madd lazim Harfi muthaqal + mukhafaf</a> </li>
                <li><a href="#">Hurroof Al muqata'aat</a> </li>
            </ul>
            <li>Iltiqaa us sakinyn </li>
            <ul>
                <li><a href="#">Details</a> </li>
                <li><a href="#">Surah Aali Imran ayah 1-2</a> </li>
            </ul>
            <li>Aqwa As Sababyn</li>
            <ul>
                <li><a href="#">In-between madd badal and jaez munfasil</a> </li>
                <li><a href="#">In between Madd Badal/Wajib Muttasil+madd
              badal/ madd lazim</a> </li>
                <li><a href="#">In between madd badal / madd aridh Lis sukoon</a></li>
                <li><a href="#">In between madd wajib mutasil/ madd aridh Lis
              sukoon </a></li>
            </ul>
            <li><a href="#">More about madd badal </a> </li>

        </ul>


        <h4><strong><em>Rules of Noon Sakinah </em></strong></h4>
        <ul>
            <li><a href="#">Introduction to noon sakin wa tanween</a> </li>
            <li><a href="#">Izhaar ul halqi</a> </li>
            <li><a href="#">Idghaam</a> </li>
            <li><a href="#">Exceptional cases of idghaam</a> </li>
            <li><a href="#">Iqlaab +ikhfaa' haqeeqi</a> </li>
        </ul>



        <h4><strong><em>Rules of Meem Sakinah</em></strong></h4>
        <ul>
            <li><a href="#">Introduction to meem sakin</a> </li>
            <li><a href="#">Rules of meem Sakinah</a> </li>
        </ul>


        <h4><strong><em>Ghunna</em></strong></h4>
        <ul>
            <li><a href="#">Levels of gunnah</a> </li>
        </ul>


        <h4><strong><em></em></strong></h4>
        <ul>
            <li><a href="#">Introduction to laam sakin+ laam ta'reef</a> </li>
            <li><a href="#">Izhaar al qamri</a> </li>
            <li><a href="#">Idghaam As shamsi</a> </li>
            <li><a href="#">Laam al Amr + laam Al ism</a> </li>
            <li><a href="#">Laam al Fe'l + laam al Harf</a> </li>

        </ul>


        <h4><strong><em>Formation of sounds </em></strong></h4>
        <ul>
            <li><a href="#">Tasadum</a> </li>
            <li><a href="#">Ihtizaaz</a> </li>
            <li><a href="#">Taba'ud</a> </li>
        </ul>


        <h4><strong><em><a href="#">Qalqala </a> </em></strong></h4>
    </div>
</section>
<footer class="footer mt-auto py-3">
    <div class="container">
        <span class="text-muted">
              <a href="https://m.facebook.com/story.php?story_fbid=131259521973743&id=105055097927519"><i class="social-icon fab fa-facebook-f"></i></a>
              <a href="#"><i class="social-icon fab fa-twitter"></i></a>
              <a href="#"><i class="social-icon fab fa-instagram"></i></a>
              <a href="mailto:safwatulmala@gmail.com"><i class="social-icon fas fa-envelope"></i></a>
              <p>© Copyright 2020 As Safwatul Mala</p>
          </span>
    </div>
</footer>
{%else%}
<script>
    if (window.confirm('Please Login to access this Page.Click OK for login')) {
        window.open('https://127.0.0.1:8000/login/', '_blank');
    };
</script>
{%endif%} {%endblock%}