{%extends 'base.html'%} {%block content%} {%load staticfiles%}
<!--External CSS-->
{%if user.is_superuser %}
<style type='text/css'>
    html {
        font-family: 'Alata', sans-serif;
        line-height: 0;
    }
    
    #header {
        color: #ffffff;
        margin-top: 35px;
    }
    
    .container-fluid {
        padding: 3% 15% 0 15%;
    }
    
    h1 {
        size: 3rem;
        line-height: 1.5;
    }
    /* Navigation Bar */
    
    .navbar-brand {
        font-size: 1.5rem;
    }
    
    .nav-item {
        padding: 0 15px;
    }
    
    .nav-link {
        font-size: 1.2rem;
    }
    
    #description {
        margin-top: 40px;
    }
    
    .logo {
        height: 40px;
        width: auto;
        margin-right: 5px;
        background-color: #ffffff;
        border-radius: 50%;
    }
    
    #footer {
        text-align: center;
        padding: 7% 15%;
    }
    
    .social-icon {
        margin: 20px 10px;
    }
    
    a {
        text-decoration: none;
    }
    
    p {
        font-size: 20px;
    }
    
    .quote-img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 500px;
        height: auto;
    }
    
    @media (max-width: 1028px) {
        .quote-img {
            width: 370px;
        }
    }
    
    .desc-img {
        width: 100%;
        height: auto;
    }
    
    .heading {
        text-align: center;
        font-family: 'Merriweather', serif;
    }
    
    .about {
        padding: 10px;
    }
    
    .footer {
        text-align: center;
    }
</style>

<section id="header">
    <div class="container-fluid">
        <!-- Nav Bar -->
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="{%url 'homepage' %}"><img class="logo" src="{%static 'images/logo.png'%}">As Safwatul Mala</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fa fa-user" aria-hidden="true"></i>{{user.username}}</a>
                    </li>
                    {%if user.is_authenticated%}
                    <li class="nav-item">
                        <a class="nav-link" href="{%url 'logout'%}">Logout</a>
                    </li>
                    {%else%}
                    <li class="nav-item">
                        <a class="nav-link" href="{%url 'login'%}">Login</a>
                    </li>
                    {%endif%}
                </ul>
            </div>
        </nav>
    </div>
</section>
<section id="course_content">
    <div class="container-fluid">
        <h1><strong><em>Jazariyyah</em></strong></h1>
        {%for i in jazariyyah_content%}
        <h5><strong><em><a href="{{i.id}}" target="_blank">{{i.jazariyyah_title}}</a> </em></strong></h5>
        {%endfor%}
        <h5><strong><em><a href="#">Al-muqadimah </a> </em></strong></h5>
        <h5><strong><em><a href="#">Bab Makharij ul Huroof </a> </em></strong></h5>
        <h5><strong><em><a href="#">Bab siffat ul Huroof </a> </em></strong></h5>
        <h5></h5><strong><em><a href="#">Bab ut Tajweed </a> </em></strong></h5>
        <h5><strong><em><a href="#">Babun fi zikri Ba'dhit Tambihaat</a> </em></strong></h5>
        <h5><strong><em><a href="#">Bab ur Ra'aat</a> </em></strong></h5>
        <h5><strong><em><a href="#">Babul Lamaat wa Ahkaamim mutafarriqah </a> </em></strong></h5>
        <h5><strong><em><a href="#">Bab udh Dhadhi Wa Athwa </a> </em></strong></h5>
        <h5><strong><em><a href="#">Bab un nooni wal meemil mushadadatyni wal meem is Sakinah </a> </em></strong></h5>
        <h5><strong><em><a href="#">Babu Ahkamin Noon is Sakinati wat Tanween </a> </em></strong></h5>
        <h5><strong><em><a href="#">Bab ul Madd</a> </em></strong></h5>
        <h5><strong><em><a href="#">Bab ma'rifatil waqfi wal Ibtidaa</a> </em></strong></h5>
        <h5><strong><em><a href="#">Babul Maqtooi wal mausool </a> </em></strong></h5>
        <h5><strong><em><a href="#">Babut Ta'aat </a> </em></strong></h5>
        <h5><strong><em><a href="#">Babu Hamzil wasal </a> </em></strong></h5>
        <h5><strong><em><a href="#">Babul waqfi a'la awakhiril Kalim</a> </em></strong></h5>
        <h5><strong><em> Tatimmaat </em></strong></h4>
            <ul>
                <li><a href="#">Itmaam ul Harakaat</a> </li>
                <li><a href="#">Bab Marati but tafkheemi lhuroof ist'laa</a> </li>
                <li><a href="#">Babu Ta'aatil muanathah bilkulf</a> </li>
                <li><a href="#">Tambihaat fi Husnil Ada a</a> </li>
            </ul>

    </div>
</section>
<footer class="footer mt-auto py-3">
    <div class="container">
        <span class="text-muted">
              <a href="https://m.facebook.com/story.php?story_fbid=131259521973743&id=105055097927519"><i class="social-icon fab fa-facebook-f"></i></a>
              <a href="#"><i class="social-icon fab fa-twitter"></i></a>
              <a href="#"><i class="social-icon fab fa-instagram"></i></a>
              <a href="mailto:safwatulmala@gmail.com"><i class="social-icon fas fa-envelope"></i></a>
              <p>© Copyright 2020 As Safwatul Mala</p>
          </span>
    </div>
</footer>
{%else%}
<script>
    if (window.confirm('Please Login to access this Page.Click OK for login')) {
        window.open('https://127.0.0.1:8000/login/', '_blank');
    };
</script>
{%endif%} {%endblock%}