{%extends 'base.html' %} {%block content%}{%load staticfiles%} {%load bootstrap4%}
<style type="text/css">
    body,
    html {
        height: 100%;
        font-family: "Alata";
    }
    /* The hero image */
    
    .bg {
        /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
        background-image: -webkit-linear-gradient(65deg, #a683e3 50%, #e4e9fd 50%);
        /* Set a specific height */
        height: 100%;
        /* Position and center the image to scale nicely on all screens */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        padding: 20px;
    }
    
    .container {
        text-align: center;
        margin: 70px auto;
    }
    
    html {
        font-family: "Alata", sans-serif;
        line-height: 0;
    }
    
    body {
        text-align: center;
    }
    
    #header {
        color: #ffffff;
    }
    
    .container-fluid {
        padding: 3% 15% 0 15%;
    }
    
    h1 {
        size: 3rem;
        line-height: 1.5;
    }
    /* Navigation Bar */
    
    .navbar-brand {
        font-size: 1.5rem;
    }
    
    .nav-item {
        padding: 0 15px;
    }
    
    .nav-link {
        font-size: 1.2rem;
    }
    
    #description {
        margin-top: 40px;
    }
    
    .logo {
        height: 40px;
        width: auto;
        margin-right: 5px;
        background-color: #ffffff;
        border-radius: 50%;
    }
    
    #footer {
        text-align: center;
        padding: 7% 15%;
    }
    
    .social-icon {
        margin: 20px 10px;
    }
    
    a {
        text-decoration: none;
    }
    
    p {
        font-size: 20px;
    }
    
    .quote-img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 500px;
        height: auto;
    }
    
    @media (max-width: 1028px) {
        .quote-img {
            width: 370px;
        }
    }
    
    .desc-img {
        width: 100%;
        height: auto;
    }
    
    .heading {
        text-align: center;
        font-family: "Merriweather", serif;
    }
</style>
<section id="header">
    <div class="container-fluid">
        <!-- Nav Bar -->
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="{%url 'homepage'%}"><img class="logo" src="{%static 'images/logo.png'%}" />As Safwatul Mala
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <div class="dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Course</a
              >
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{%url 'tutapp:list'%}"
                  >Tajweed Level 1</a
                >
                <a class="dropdown-item" href="{%url 'tajweed2:list'%}"
                  >Tajweed Level 2</a
                >
                <a class="dropdown-item" href="{%url 'tajweed3:list'%}"
                  >Tajweed Level 3</a
                >
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{%url 'Advancetilawah:list'%}"
                  >Advance Tilawah</a
                >
                <a class="dropdown-item" href="{%url 'Jazariyyah:list'%}"
                  >Jazariyyah</a
                >
              </div>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contact">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fa fa-user" aria-hidden="true"></i>
              {{user.username}}</a
            >
          </li>
        </ul>
      </div>
    </nav>
  </div>
</section>
<div class="bg">
  <form method="POST" class="container">
    <h1>Please SignIn to view the Course</h1>
    {%csrf_token%} {%bootstrap_form form%}
    <input
      type="submit"
      class="btn btn-primary btn-lg btn-block"
      value="Submit"
    />
    <br />
    <button type="button" class="btn btn-outline-info btn-lg btn-block">
      <a href="{%url 'tutapp:signup'%}" style="color: black"
        >Create an account</a
      >
    </button>
    <a href="{%url 'reset_password'%}" style="color: black">Forgot Password</a>
                        </form>
                        </div>
                        {%endblock%}