{%extends 'base.html'%} {%block content%} {%load staticfiles%} {%load bootstrap4%}
<style type="text/css">
    .container {
        margin: 40px auto;
        font-family: 'Alata';
    }
</style>
<div class="container">
    <h2 style="text-align: center"><strong>SignUp</strong></h2>
    <form method="POST">
        {%csrf_token%} {%bootstrap_form form%}
        <input type="submit" class="btn btn-primary btn-lg btn-block" value="Submit" />
        <br />
        <button type="button" class="btn btn-outline-info btn-lg btn-block">
      <a href="{%url 'login'%}" style="color: black">Already have account</a>
    </button>
    </form>
</div>

{%endblock%}